body{
    background-image: url(Images/wall\ 6.jpg);
    background-repeat: no-repeat;
    background-position: cneter;
    background-attachment: fixed;background-size: cover;
}

p{
    color: blueviolet;
    font-size: 20px;
}