body{
    border:  px solid;
}

/* it is used to wrapping up of data.*/
#imag1{
    float: left;
    margin-right: 10px;
}

#imag2{
    float: right;
}

div{
    border: 2px solid;
    height: 75px;
    overflow: hidden;
    overflow: auto;
}
