body{
    border:  px solid;
}

/* it is used to wrapping up of data.*/
#imag1{
    float: left;
    margin-right: 10px;
}

#imag2{
    float: right;
}

*{
    box-sizing: border-box;
}
.box{
    background-color: white;
    border: solid 3px;
    padding: 25px;
    box-sizing: border-box;
    height: auto;
    width: 50%;
    float: left;

    min-width: 25%;
}
.container{
    background-color: rgb(231, 57, 234);
    height: 100vh;
 


.box1{
    width: 200px;
    height: 200px;
    background-color: hs1;
    position: relative;
    top: " -100px";
    bottom: "Mn";
}