body{
    margin: 0px;
}

.box{
    border: 5px solid;
    font-size: 5em;
    width: 250px;
    height: 250px;
    margin: auto;
}
#ab{
    background-color: rgb(226, 62, 7);
    margin-left: auto;
    /* can apply individually and 
    can also apply same to each other*/
}
#ac{
    background-color: rgb(117, 212, 241);
    margin: auto;
}