body{
    margin: 0px;}

main{
    margin: 20px;
}
h1{
    text-align: center;

}

.navbar ul{
    list-style-type: none;
    background-color: rgb(62, 100, 104);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: rgb(237, 241, 239);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(37, 62, 223);
}

.navbar li{
    float: left; 
}